dep-tools @ git+https://github.com/digitalearthpacific/dep-tools.git@pass-through-odc-loader
omnicloudmask @ git+https://github.com/DPIRD-DMA/OmniCloudMask.git
cloud-logger @ git+https://github.com/jessjaco/cloud-logger.git
odc-stac
pystac
pystac-client
xarray
